.background{
    background-image: url("/images/background.jpg");
    background-size: cover;
    height: 720px;

}
.services{
    background-image: url("/images/bg2.jpg");
    background-size: cover;
    height: 400PX;
}